style
:root{
    --background-color: #F5F4FA;
}
 

body {
font-family: "Roboto" , sans-serif;

}
header {border: 1px solid #ECECEC;}
.nav-Webstudio{
    /* WebStudio */


    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;}
.mailto-main{
    /* info@devstudio.com */


    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;}
.tel-main{
    /* +48 111 111 111 */


    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
    }    
.efect{
    /* Bg */


    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;}
.h1 {
    /* EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */


    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;}
 
.nav-agencja{
    position: absolute;
width: 53px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;}
.nav-kontakt{   
    /* Kontakt */


position: absolute;
width: 51px;
height: 16px;
left: 656px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;}
.nav-portfolio{
/* Portfolio */


position: absolute;
width: 58px;
height: 16px;
left: 552px;
top: 32px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.service{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
position: absolute;
max-width: 117px;
max-height: 30px;
left: 742px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
    /* Zamów usługe */


position: absolute;
width: 117px;
height: 30px;
left: 742px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;}
.background-team{
    /* Section bg */

 
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}
.post-first-main{
    /* LOREM IPSUM */


    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
    }
.post-first{
     /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales dui. Interdum et malesuada */
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;}
.post-two-main{
    /* LOREM IPSUM */


    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;}
.post-two{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales dui. Interdum et malesuada */


    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
   /* or 171% */

   letter-spacing: 0.03em;

   color: #757575;}
.post-three-main{
    /* LOREM IPSUM */


    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    }
.post-three{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales dui. Interdum et malesuada */


    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;}
.post-for-main{
    /* LOREM IPSUM */


    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    }
.post-for{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel arcu sem. Sed non sodales dui. Interdum et malesuada */


    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;} 
.what-we-do{
    /* Czym się zajmujemy */


position: absolute;
width: 352px;
height: 42px;
left: 624px;
top: 969px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.programming-img{
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;}
.comunity-img{
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;}
.color-img{
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    }
.team{
    /* Nasz zespół */


     position: absolute;
     width: 210px;
     height: 42px;
     left: 695px;
     top: 1543px;

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 42px;
     text-align: center;
     letter-spacing: 0.03em;

     color: #212121;}
.JohnDoe-first{
    /* img */


    position: absolute;
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
    
    border-radius: 0px;}
.JohnDoe-first-main{
    /* John Doe */


    position: absolute;
    width: 72px;
    height: 19px;
    left: 314px;
    top: 1925px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    }
.Product-Designer{
    /* Product Designer */


position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.JohnDoe-two{
    /* img */


    position: absolute;
    width: 270px;
    height: 260px;
    left: 515px;
    top: 1635px;
    
    border-radius: 0px;}
.JohnDoe-two-main{/* John Doe */


    position: absolute;
    width: 72px;
    height: 19px;
    left: 614px;
    top: 1925px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    }
.Frontend-Developer{
    /* Frontend Developer */


    position: absolute;
    width: 147px;
    height: 19px;
    left: 577px;
    top: 1954px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    }
.JohnDoe-three{
    /* img */


    position: absolute;
    width: 270px;
    height: 260px;
    left: 815px;
    top: 1635px;
    
    border-radius: 0px;}
.JohnDoe-three-main{/* John Doe */


    position: absolute;
    width: 72px;
    height: 19px;
    left: 914px;
    top: 1925px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    }
.Marketing{
    /* Marketing */


    position: absolute;
    width: 76px;
    height: 19px;
    left: 912px;
    top: 1954px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;}
.JohnDoe-for{
    /* img */


    position: absolute;
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1635px;
    
    border-radius: 0px;}
.JohnDoe-for-main{
    /* John Doe */


position: absolute;
width: 72px;
height: 19px;
left: 1214px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.UI-Designer{
    /* UI Designer */


    position: absolute;
    width: 87px;
    height: 19px;
    left: 1207px;
    top: 1954px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;}
address {
    /* top line bg */
    
    
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    
    /* +48 111 111 111 */
    
    
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575; font-family: "Roboto" , sans-serif;
     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    /* or 171% */
    
    letter-spacing: 0.03em;
    color: #FFFFFF;
     }

footer{
        position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2097px;
        
        background: #2F303A;}
.address-footer{/* m. Warszawa, Aleje Jerozolimskie 21 */


    position: absolute;
    width: 246px;
    height: 21px;
    left: 215px;
    top: 2208px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    }
.mailto-footer{/* info@example.com */


    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    }
.tel-footer{/* +48 111 111 111 */


    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);}
.btn-all {
    /* Rectangle 10 */

    position: absolute;
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
   
    background: #F5F4FA;
    border-radius: 4px;}  
.btn-all:focus {background-color: #2196F3;
    }
.btn-all:hover {
        cursor: pointer;
        color: #F5F4FA;
        background-color: #2196F3
    }
.btn-strony{
    /* Rectangle 10 */


    position: absolute;
    width: 93px;
    height: 38px;
    left: 639px;
    top: 174px;
    
    background: #F5F4FA;
    border-radius: 4px;}
.btn-strony:focus {background-color: #2196F3;
    }
.btn-strony:hover {
        cursor: pointer;
        color: #F5F4FA;
        background-color: #2196F3
    }
.btn-aplikacje{
        /* Rectangle 10 */
    
    
    position: absolute;
    width: 114px;
    height: 38px;
    left: 740px;
    top: 174px;
    
    background: #F5F4FA;
    border-radius: 4px;
    }
.btn-aplikacje:focus {background-color: #2196F3;
    }
.btn-aplikacje:hover {
        cursor: pointer;
        color: #F5F4FA;
        background-color: #2196F3
    }
.btn-dizajn {
    /* Rectangle 10 */


    position: absolute;
    width: 91px;
    height: 38px;
    left: 862px;
    top: 174px;
    
    background: #F5F4FA;
    border-radius: 4px;}

.btn-dizajn:focus {background-color: #2196F3;
    }
.btn-dizajn:hover {
        cursor: pointer;
        color: #F5F4FA;
        background-color: #2196F3
    }
.btn-marketing {
    /* Rectangle 10 */


position: absolute;
width: 121px;
height: 38px;
left: 961px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
}
.btn-marketing:focus {background-color: #2196F3;
    }
.btn-marketing:hover {
        cursor: pointer;
        color: #F5F4FA;
        background-color: #2196F3
    }    
.Technocrack-img {
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
    }
.Technocrack-main {
    /* Technocrack */


position: absolute;
width: 322px;
height: 36px;
left: 239px;
top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Technocrack-tekst {
    /* Strona internetowa */


position: absolute;
width: 322px;
height: 30px;
left: 239px;
top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}
.Grafika-New-Orlean-vs-Golden-Star-img {
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 262px;
}
.Grafika-New-Orlean-vs-Golden-Star-main {
    /* Grafika New Orlean vs Golden Star */


position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Grafika-New-Orlean-vs-Golden-Star-tekst{
    /* Dizajn */


position: absolute;
width: 322px;
height: 30px;
left: 639px;
top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}
.Restauracja-Seafood-img {
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 262px;
}
.Restauracja-Seafood-main {
    /* Restauracja Seafood */


position: absolute;
width: 322px;
height: 36px;
left: 1039px;
top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Restauracja-Seafood-tekst{
    /* Aplikacja */


position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}
.Projekt-Prime-img {
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
    }
.Projekt-Prime-main{
    /* Projekt Prime */


position: absolute;
width: 322px;
height: 36px;
left: 239px;
top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Projekt-Prime-tekst{
    /* Marketing */


position: absolute;
width: 322px;
height: 30px;
left: 239px;
top: 1050px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.Projekt-Boxes-img{
    /* img */


    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
    }
.Projekt-Boxes-main {
    /* Projekt Boxes */


position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Projekt-Boxes-tekst{
    /* Aplikacja */


    position: absolute;
    width: 322px;
    height: 30px;
    left: 639px;
    top: 1050px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    }
.Inspiration-has-no-Borders-img{
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 696px;

}
.Inspiration-has-no-Borders-main {
    /* Inspiration has no Borders */


position: absolute;
width: 322px;
height: 36px;
left: 1039px;
top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Inspiration-has-no-Borders-tekst{
    /* Strona internetowa */


position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 1050px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}
.Magazyn-Limited-Edition-img{
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1130px;

}
.Magazyn-Limited-Edition-main {
    /* Magazyn Limited Edition */


position: absolute;
width: 322px;
height: 36px;
left: 239px;
top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Magazyn-Limited-Edition-tekst{
    /* Dizajn */


position: absolute;
width: 322px;
height: 30px;
left: 239px;
top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.Projekt-LAB-img{
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1130px;

}
.Projekt-LAB-main {
    /* Projekt LAB */


position: absolute;
width: 322px;
height: 36px;
left: 639px;
top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}
.Projekt-LAB-tekst{
    /* Marketing */


position: absolute;
width: 322px;
height: 30px;
left: 639px;
top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.Growing-Business-img{
    /* img */


position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1130px;

}
.Growing-Business-main {
    /* Growing Business */


position: absolute;
width: 322px;
height: 36px;
left: 1039px;
top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.Growing-Business-tekst {
    /* Aplikacja */


position: absolute;
width: 322px;
height: 30px;
left: 1039px;
top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}

